{
  "endOfLine": "crlf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "useTabs": false,
  "printWidth": 140
}
